<h1><%= @user.name %></h1>
<img src="<%= @user.image %>" alt="">
<%= link_to t("user.fb-profile"), @user.fb_profile_url %>

<!-- The user's adverts -->
<div class="user-adverts">
  <h1><%= @user.first_name %>'s <%= t('adverts.title') %></h1>
  <ul class="adverts">
    <% @user.adverts.each do |advert| %>
      <%= render partial: 'adverts/advert_listing', locals: { advert: advert }%>
      <hr>
    <% end %>
  </ul>
</div>
