<h1><%= @user.name %></h1>
<img src="<%= @user.image %>" alt="">
<%= link_to t("user.fb-profile"), @user.fb_profile_url %>

<!-- The user's adverts -->
<div class="user-adverts">
  <h1><%= t('adverts.title') %></h1>
  <li class="adverts">
    <% @user.adverts.each do |advert| %>
      <%= link_to advert_path(advert), class: "advert-listing",
                    id: "advert_#{advert.id}" do %>
        <h3><%= advert.title %></h3>
        <p><%= advert.description %></p>
      <% end %>
    <% end %>
  </li>
</div>
