<li id="advert_<%= advert.id %>" class="advert-listing">
  <%= link_to advert_path(advert) do %>
    <% if advert.images.any?  %>
      <%= image_tag advert.images.first.asset.thumb.url %>
    <% end %>
    <h2><%= advert.title %></h2>
    <p><%= truncate(advert.description, length: 400) %></p>
    <p><%= number_to_currency(advert.price, unit: "€") %></p>
    <small class="advert-timetag"><%= time_ago_in_words advert.created_at %> <%= t('adverts.listing.ago') %> | </small>
    <small class="advert-comment-count">
      <% if advert.comments.any? %>
        <%= advert.comments.count %> <%= t('adverts.listing.comments') %>
      <% else %>
        <%= t('adverts.listing.no-comments') %>
      <% end %>
    </small>
  <% end %>
</li>
<hr>
