<%= form_for @advert do |form| %>
  <% if @advert.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @advert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag :img_ids, '' %>

  <%= form.label :title %><br>
  <%= form.text_field :title %><br>

  <%= form.label :description %><br>
  <%= form.text_area :description %><br>

  <%= form.label :price, t("adverts.target-price") %><br>
  <%= form.text_field :price %><br>

  <%= form.submit t("adverts.submit"), class: "btn btn-primary" %>
<% end %>

<%= form_for Image.new do |form| %>
  <%= form.label :image, t("adverts.add-photos"), class: "btn btn-primary" %><br>
  <%= form.file_field :image, multiple: true,
                              id: "add_image_field",
                              name: "image[asset]",
                              class: "hide" %>
<% end %>

<script id="uploaded-image-template" type="text/x-tmpl">
  <div class="advert-image col-md-3">
    {%=o.name%}
    <div class="progress">
      <div class="progress-bar bar" style="width:0"> </div>
    </div>
    <button class="btn btn-xs btn-danger" id="delete-upload"><%= t('images.delete') %></button>
  </div>
</script>
