<%= form_for @advert do |form| %>
  <% if @advert.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @advert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :title %><br>
  <%= form.text_field :title %><br>

  <%= form.label :description %><br>
  <%= form.text_area :description %><br>

  <%= form.label :price, t("adverts.target-price") %><br>
  <%= form.text_field :price %><br>

  <%= form.submit t("adverts.submit"), class: "btn btn-primary" %>
<% end %>

<%= form_for Image.new do |form| %>
  <%= form.file_field :image, multiple: true,
                              id: "new_image",
                              name: "image[asset]" %>
<% end %>
