<% if current_user %>
  <%= link_to t("adverts.new"), new_advert_path %>
<% end %>

<h1><%= t("adverts.title") %></h1>
<ul class="adverts">
  <% @adverts.each do |advert| %>
    <li id="advert_<%= advert.id %>" class="advert-listing">
      <%= link_to advert_path(advert) do %>
        <h2><%= advert.title %></h2>
        <p><%= advert.description %></p>
      <% end %>
    </li>
  <% end %>
</ul>
