<%= link_to "Plaats Advertentie", new_advert_path %>
<h1>Adverts</h1>
<ul class="adverts">
  <% @adverts.each do |advert| %>
    <li id="advert_<%= advert.id %>" class="advert-listing">
      <%= link_to advert_path(advert) do %>
        <h2><%= advert.title %></h2>
        <p><%= advert.description %></p>
      <% end %>
    </li>
  <% end %>
</ul>
