<!-- The author links -->
<% if current_user == @advert.user %>
  <%= render 'author_options' %>
<!-- The seller widget -->
<% else %>
  <%= render 'seller_widget' %>
<% end %>

<!-- The advert title -->
<h1 class="advert-title">
  <%= @advert.title %>
  <% unless @advert.for_sale? %>
    <small><%= t("adverts.state.#{@advert.state}") %></small>
  <% end %>
</h1>

<!-- Images -->
<div class="advert-images row">
  <% @advert.images.each do |image| %>
    <div class="advert-image col-sm-3">
      <%= image_tag image.asset.medium.url %>
    </div>
  <% end %>
</div>


<!-- The advert info -->
<p><%= @advert.description %></p>
<% if @advert.price %>
  <p><%= t("adverts.target-price") %>: <%= number_to_currency(@advert.price, unit: "€") %></p>
<% else %>
  <p>Prijs is niet gespecifiëerd</p>
<% end %>

<!-- Comment section -->
<div class="comment-section">
  <h1><%= t("comments.title") %></h1>

  <% if @advert.comments.empty? %>
    <p><%= t('comments.no-comments-yet') %></p>
  <% end %>

  <ul class="comments">
    <% @advert.comments.order(:created_at).each do |comment| %>
      <li class="comment" id="comment_<%= comment.id %>">
        <% if comment.user %>
          <%= link_to user_path(comment.user) do %>
            <p class="author">
              <img src="<%= comment.user.image %>" alt="">
              <strong class="author-name"><%= comment.user.name %>:</strong>
            </p>
          <% end %>
        <% end %>
        <p class="comment-content">
        <%= comment.content %><br>
          <small class="comment-timetag"><%= time_ago_in_words comment.created_at %></small>
        </p>
      </li>
    <% end %>
  </ul>

  <!-- new comment form -->
  <% if current_user %>
    <%= form_for [@advert, @advert.comments.new] do |form| %>
      <%= form.text_area :content %>
      <%= form.submit t("comments.add-comment") %>
    <% end %>
  <% else %>
    <p><%= t("comments.not-logged-in") %></p>
  <% end %>

</div>
