<h1 class="advert-title"><%= @advert.title %></h1>
<p><%= @advert.description %></p>
<% if @advert.price %>
  <p>Richtprijs: <%= number_to_currency(@advert.price, unit: "€") %></p>
<% else %>
  <p>Prijs is niet gespecifiëerd</p>
<% end %>
<%= link_to "Bewerk advertentie", edit_advert_path(@advert) %>
<%= link_to "Verwijder advertentie", advert_path(@advert),
                  method: :delete,
                  data: {confirm: "Ben je zeker? Dit kan niet ongedaan worden."} %>

<div class="comment-section">
  <h1>Comments</h1>

  <% if @advert.comments.empty? %>
    <p>Er zijn nog geen reacties geplaatst op deze advertentie. Plaats als eerste een comment!</p>
  <% end %>

  <ul class="comments">
    <% @advert.comments.order(:created_at).each do |comment| %>
      <li class="comment" id="comment_<%= comment.id %>">
        <p class="comment-content">
        <%= comment.content %><br>
          <small class="comment-timetag"><%= time_ago_in_words comment.created_at %> ago</small>
        </p>
      </li>
    <% end %>
  </ul>
</div>
