<!DOCTYPE html>
<html>
<head>
  <title>MuzMarktplaats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |type, message| %>
    <div class="flash flash-<%= type %>">
      <%= message %>
    </div>
  <% end %>

<div class="user-widget">
  <% if current_user %>
    Welkom <strong><%= current_user.name %></strong>!
    <a href="<%= current_user.fb_profile_url %>">
      <img src="<%= current_user.image %>">
    </a>
    <%= link_to "Uitloggen", signout_path, id: "sign_out", class:"btn" %>
  <% else %>
    <%= link_to "Inloggen met Facebook", "/auth/facebook", id: "sign_in", class: "btn" %>
  <% end %>
</div>

<%= yield %>
</body>
</html>
