<!DOCTYPE html>
<html>
<head>
  <title>MuzMarktplaats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/flash' %>

<%= link_to "HOME", root_path %>

<div class="user-widget">
  <% if current_user %>
    <%= t("user-widget.welcome") %> <strong><%= current_user.name %></strong>!
    <%= link_to user_path(current_user) do %>
      <img src="<%= current_user.image %>">
    <% end %>
    <%= link_to t("user-widget.log-out"), signout_path, id: "sign_out", class:"btn" %>
  <% else %>
    <%= link_to t('user-widget.log-in-fb'), "/auth/facebook", id: "sign_in", class: "btn" %>
  <% end %>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
