<!DOCTYPE html>
<html>
<head>
  <title>MuzMarktplaats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Must do this for DEVISE -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% flash.each do |type, message| %>
  <div class="flash-<%= type %>">
    <%= message %>
  </div>
<% end %>
<%= yield %>

</body>
</html>
